.hero {
  background-image: url('./resources/Banner\ Image.png');
  background-position: cover;
  width: 1320px;
  height: 600px;

  margin-top: 50px;
  margin-left: 140px;
  margin-right: 140px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.hero-title {
  color: #FFF;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}

.hero-paragraph {
  color: #FFF;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 95px;
  /* 131.944% */
}

.off {
  color: #F00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.holiday {
  color: #F00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.categories {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.img-style {
  width: 100%;
  height: 100%;
  flex-shrink: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.party {
  background-image: url('./resources/Vectorrr.png');
  background-position: cover;
  width: 1320px;
  height: 600px;
  flex-shrink: 0;

  margin-top: 50px;
  margin-left: 140px;
  margin-right: 140px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.title {
  color: #FFF;
  font-family: Merriweather;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px;
  text-align: center;
  letter-spacing: 7.04px;
}

.paragraph {
  text-align: center;
  color: rgba(255, 255, 255, 0.80);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.btn {
  color: #0f0e0e;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.mid-party {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

section .sale {
  margin-top: 100px;
  width: auto;
  height: 500px;
  background-color: rgba(229, 84, 115, 0.05);
  display: flex;
  justify-content: space-around;
}

.sale-content {
  width: 60%;
}

.sale-title {
  color: #272727;
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
  margin-top: 180px;
  text-align: center;
  margin-bottom: 25px;
}

.sale-paragraph {
  color: rgba(39, 39, 39, 0.60);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 25px;
}

.sale-btn {
  padding: 10px 20px;
  border: 1px solid transparent;
  border-radius: 8px;
  background: #F00;
  color: rgb(225, 209, 209);
  font-weight: 700;
  margin-left: 500px;
  font-family: Lato;
  letter-spacing: 2px;
  font-size: 21px;

}


.gift {
  color: #F00;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.awesome {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}

.para {
  color: rgba(7, 2, 17, 0.60);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;

  font-weight: 400;
  line-height: 32px;

}

.design1 {
  margin: 100px;
  
  justify-content: space-between;
}

.insta-img {
  display: flex;
  justify-content: space-around;
  padding: 0px 10px;
  margin-bottom: 20px;

}

.insta-img:hover {
  color: #ccc;
}

.deal {
  border: 1px solid #FDCEDF;
  margin: 150px 100px 25px 150px;
  width: 1320px;
  height: 616px;
  flex-shrink: 0;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  background-position: center;
  
}

.deal-title {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
  margin-top: 100px;
  margin-bottom: 25px;
}

.deal-paragraph {
  color: rgba(39, 39, 39, 0.60);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.deal-form {
  margin-top: 25px;
  margin-left: 280px;


}
.news-img{
  justify-content: center;
}

.deal-form #email {
  border: 1px solid transparent;
  border-radius: 5px;
  width: 450px;
  height: 33px;
  padding: 5px 10px;

}

.deal-form #submit {
  width: 150px;
  height: 42px;
  border-radius: 0px 50px 50px 0px;
  background: #F00;

  color: white;
  font-weight: 600;
  font-family: Lato;
  border: 1px solid transparent;
  font-size: 20px;
  letter-spacing: 2px;
  border-radius: 5px;
}

.p1 {
  color: #F00;
}

.footer {
  background-color: #070211;
  ;
  color: #fff;
  padding: 20px;
}

.footer-divider {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  margin: 10px 0;
}

.footer-part {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}

.footer-text {
  width: 50%;
  color: #FFF;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  /* 166.667% */
}

.social-icons {

  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons a {
  color: #fff;
  text-decoration: none;
  margin: 25px;
}

.social-icons a:hover {
  color: #ccc;
}

.design {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 50px;
}

.four {
  color: #F00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;

}

.image {
  border-radius: 463px;
  border: 15px solid #F00;
  background: #FFF;
}